<h1>Ausgewählter Artikel</h1>

<p>

Title: <%= @article.title %>

</p>

<p>

Description: <%= @article.description %>

</p>
<%= link_to "Artikel bearbeiten", edit_article_path(@article) %> |

<%= link_to "Zurück zur Übersicht", articles_path %>
